.mapcode-input {
  width: 15rem;
  margin: 0 auto 0.5rem auto;
}

.map-preview {
  position: relative;
}

.map-preview .map-name-container {
  width: 100%;
  position: absolute;
  left: 0;
  top: -1rem;

  display: flex;
  justify-content: center;
}

.btn.map-form-rm-field {
  margin-top: 31px;
}

.vcompat {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
}

.vcompat > * {
  display: inline-block;
}

.vcompat > p {
  margin-top: 0.4rem;
  margin-bottom: 0;
}

.vcompat .vcompat-input {
  width: 4rem;
}

.vcompat .vcompat-select {
  flex: 1;
  max-width: 15rem;
}
