.difficulties {
  column-gap: 0.7rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.profilePfp {
  width: 6rem;
  height: 6rem;
  border: 2px solid white;
  border-radius: 0.7rem;
}

.rolesContainer {
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  background-color: var(--color-secondary);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
}

.title {
  margin-bottom: 1rem;
}

.rolesContainer > div {
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;
}

.profileViewContainer {
  background-size: cover;
  background-position: center;
  border: 5px solid var(--color-secondary);
}
