.user_entry {
  display: flex;
  margin: 0;
  align-items: stretch;
  color: var(--color-text);
  position: relative;
  --inline-pfp-size: 1.8em;
}

.pfp_link:link {
  text-decoration: none;
}

.user_entry:not(.inline) {
  margin: 0.4rem 0;
}

.name_container {
  flex: 1;
  padding-left: 0.5rem;
}

.pfp {
  width: 45px;
  height: 45px;
  border: 2px solid white;
  border-radius: 0.2rem;
}

.pfp_padding_inline {
  margin-left: var(--inline-pfp-size);
}

.pfp.inline {
  width: var(--inline-pfp-size);
}

.pfp.inline {
  height: var(--inline-pfp-size);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.pfp_name {
  text-align: start;
  font-weight: 700;
  margin-bottom: 0;
}

.pfp_small {
  margin-bottom: 0;
  font-size: 0.8rem;
}

.pfp_link:hover .pfp_name {
  color: var(--color-less-highlight);
}
