.autocomplete_wrapper {
  position: relative;
}

.autocomplete_wrapper:not(:focus-within) .autocomplete {
  display: none;
}

.autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
}

.autocomplete ul {
  padding: 0;
  margin-bottom: 0;
}

.autocomplete ul li {
  font-size: 1rem;
  display: block;
  margin: 0;
  padding: 0.3rem 0.7rem;
  background-color: white;
  color: black;
  transition: background-color 0.2s ease;
  text-shadow: none;
}

.autocomplete ul li:hover {
  cursor: pointer;
  background-color: #eee;
}
