.btd6map,
.btd6map_row {
  color: var(--color-text);
  transition: background-color 0.2s linear;
  background-color: var(--color-secondary);
}

.btd6map {
  margin: 1.5rem 0.2rem;
  padding: 0.4rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.btd6map_row {
  overflow-x: hidden;
  overflow-y: hidden;
}

.btd6map_clickable,
.btd6map_clickable:visited {
  text-decoration: none;
  color: var(--color-text);
}

.btd6map_clickable:hover {
  color: var(--color-less-highlight);
}

.btd6map_clickable:hover .btd6map,
.btd6map_clickable:hover .btd6map_row {
  background-color: var(--color-less-highlight);
}

.btd6map_image {
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
  background-color: var(--color-primary);
}

.btd6map_image.empty {
  background-color: var(--color-primary);
}

.btd6map_row .btd6map_image {
  width: 6rem;
}

.map_title {
  position: absolute;
  top: -0.7rem;

  overflow-wrap: break-word;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}

.points {
  position: absolute;
  top: 7%;
  left: -4%;

  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--color-maplist);
  box-shadow: 0 0 0.5rem black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
}

.points p {
  position: relative;
  font-size: 2rem;
}

.points_value {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -0.7rem;
  font-size: 1.1rem;
}

.points_value span {
  margin-left: 0.1rem;
}

/* Edge only, for some reason Luckiest Guy is already aligned */
@supports (-ms-ime-align: auto) {
  .points p {
    padding-top: 0;
  }
}

.play_btn {
  display: flex;
  justify-content: center;
}

.play_btn a,
.play_btn a:hover {
  color: var(--color-text);
  text-decoration: none;
  transition: background-color 0.2s linear;
}

.play_btn a:hover {
  background-color: var(--color-less-highlight);
}

.play_btn a {
  background-color: var(--color-highlight);
  border-radius: 0.7rem;
  text-align: center;
}

.play_btn p {
  font-size: 1.5rem;
  margin: 0.4rem 1.3rem;
  margin-top: 0.8rem;
}

.verified_check {
  background-color: #b2ebf2;
  padding: 0.1rem 0.2rem;
  border-radius: 0.3rem;
  color: black;

  position: absolute;
  left: -0.7rem;
}

.verified_check:not(.up) {
  bottom: -0.5rem;
}

.verified_check.up {
  top: -0.7rem;
}

.btd6map_medals {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;
  bottom: -1rem;
}

.btd6map_btn i {
  font-size: 3rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.btd6map_btn i.success {
  background-color: var(--bs-btn-success);
}

.btd6map_btn i.warn {
  background-color: #fbc02d;
}

.btd6map.black_border {
  background-color: #080808;
  box-shadow: 0rem 0rem 0.4rem 0 #d3d3d3 !important;
}

.btd6map.gold_border {
  background-color: #ddbc00;
  box-shadow: 0rem 0rem 0.5rem 0 #e65100 !important;
}

/* <lg */
@media only screen and (max-width: 991.98px) {
}

/* <md */
@media only screen and (max-width: 767.98px) {
  .map_title {
    font-size: 1rem;
  }
}

/* <xs */
@media only screen and (max-width: 575.98px) {
  .map_title {
    font-size: 1.5rem;
  }
  .points {
    top: 1.3rem;
    left: -0.2rem;
  }
  .play_btn p {
    font-size: 1rem;
  }
}
