.btd6map,
.btd6mapRow {
  color: var(--color-text);
  transition: background-color 0.2s linear;
  background-color: var(--color-secondary);
}

.btd6map {
  margin: 1.5rem 0.2rem;
  padding: 0.4rem;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  position: relative;
}

.btd6mapRow {
  overflow-x: hidden;
  overflow-y: hidden;
}

.btd6map-clickable,
.btd6map-clickable:visited {
  text-decoration: none;
  color: var(--color-text);
}

.btd6map-clickable:hover {
  color: var(--color-less-highlight);
}

.btd6map-clickable:hover .btd6map,
.btd6map-clickable:hover .btd6mapRow {
  background-color: var(--color-less-highlight);
}

.btd6mapImage {
  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
}

.btd6mapImage.empty {
  background-color: var(--color-primary);
}

.btd6mapRow .btd6mapImage {
  width: 6rem;
}

.mapTitle {
  position: absolute;
  top: -0.7rem;

  overflow-wrap: break-word;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
}

.imgPlaceholder {
  aspect-ratio: 3/2;
  width: 100%;
}

.points {
  position: absolute;
  top: 7%;
  left: -4%;

  width: 3.5rem;
  height: 3.5rem;
  padding-top: 0.5rem;
  background-color: var(--color-highlight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--color-less-highlight);
}

.playBtn {
  display: flex;
  justify-content: center;
}

.playBtn a,
.playBtn a:hover {
  color: var(--color-text);
  text-decoration: none;
  transition: background-color 0.2s linear;
}

.playBtn a:hover {
  background-color: var(--color-less-highlight);
}

.playBtn a {
  background-color: var(--color-highlight);
  border-radius: 0.7rem;
  text-align: center;
}

.playBtn p {
  font-size: 1.5rem;
  margin: 0.4rem 1.3rem;
  margin-top: 0.8rem;
}

.verifiedCheck {
  background-color: #b2ebf2;
  padding: 0.1rem 0.2rem;
  border-radius: 0.3rem;
  color: black;

  position: absolute;
  left: -0.7rem;
  &:not(.up) {
    bottom: -0.5rem;
  }
  &.up {
    top: -0.7rem;
  }
}

.btd6map-medals {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  left: 0;
  bottom: -1rem;
}

.btd6map-btn i {
  font-size: 3rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
}

.btd6map-btn i.success {
  background-color: var(--bs-btn-success);
}

.btd6map-btn i.warn {
  background-color: #fbc02d;
}

/* <lg */
@media only screen and (max-width: 991.98px) {
}

/* <md */
@media only screen and (max-width: 767.98px) {
  .mapTitle {
    font-size: 1rem;
  }
}

/* <xs */
@media only screen and (max-width: 575.98px) {
  .mapTitle {
    font-size: 1.5rem;
  }
  .points {
    top: 1.3rem;
    left: -0.2rem;
  }
  .playBtn p {
    font-size: 1rem;
  }
}
