.difficulty_selector {
  justify-content: center;
  margin: 0;
}

.difficulty {
  padding: 1rem 0.5rem;
}

.difficulty:hover {
  cursor: pointer;
}

.img_wrapper p {
  position: absolute;
  width: 100%;
  bottom: -1rem;
  left: 0;
  margin-bottom: 0;
}

.img_wrapper {
  position: relative;
  background-color: var(--color-secondary);
  border: 7px solid var(--color-misc);
  border-radius: 50%;
  transition: border-color 0.3s linear;
}

.difficulty.active .img_wrapper,
.img_wrapper.active {
  border-color: var(--color-highlight);
}

.difficulty:hover .img_wrapper {
  border-color: var(--color-less-highlight);
}
