.pointsLabelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pointsLabelContainer p {
  margin-bottom: 0;
  margin-left: 0.5rem;
}

.comp-blocked {
  -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
  filter: brightness(0%) drop-shadow(1px 1px 0 white)
    drop-shadow(-1px -1px 0 white);
}

.transparent {
  filter: opacity(0%);
}

.single-completion:not(:first-child) {
  padding-top: 0.5rem;
}

.single-completion:not(:last-child) {
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 0.5rem;
}

/* >=lg */
@media only screen and (min-width: 991.98px) {
  .pointsGainedContanier > div {
    width: 50%;
  }
}
