.pointsLabelContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pointsLabelContainer p {
  margin-bottom: 0;
  margin-left: 0.5rem;
  min-width: 4rem;
}

.comp-blocked {
  -webkit-filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
  filter: brightness(0%) drop-shadow(1px 1px 0 white)
    drop-shadow(-1px -1px 0 white);
}

.transparent {
  filter: opacity(0%);
}

.single-completion:not(:first-child) {
  padding-top: 0.5rem;
}

.single-completion:not(:last-child) {
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 0.5rem;
}

.completion-placeholder {
  filter: opacity(80%);
  min-height: 67px;
}

a.single-completion {
  text-decoration: none;
  color: var(--color-text);
  transition: background-color 0.2s linear;
}

a.single-completion:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

a.single-completion:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

a.single-completion:hover {
  background-color: var(--color-less-highlight);
  cursor: pointer;
}

/* >=lg */
@media only screen and (min-width: 991.98px) {
  .pointsGainedContanier > div {
    width: 50%;
  }
}
