.header {
  background-color: var(--color-highlight);
  padding: 0.5rem 1.7rem;
  font-size: 1.5rem;
}

.header a {
  text-decoration: none;
  color: var(--color-text);
}

.header p {
  margin: 0;
}

.maplistLogo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
}

.btd6MaplistTitle {
  position: relative;
  top: 0.3rem;
}

.maplistLogoSpacer {
  width: 3rem;
}
