.header {
  background-color: var(--color-highlight);
  padding: 0.5rem 1.7rem;
  font-size: 1.5rem;
}

.header a {
  text-decoration: none;
  color: var(--color-text);
}

.header p {
  margin: 0;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  position: relative;
  margin: 0 0.7rem;
}

.submenu {
  position: absolute;
  right: 0;
  opacity: 0.5;
  top: -10rem;
  transition: opacity 0.1s ease-out;

  padding: 0.5rem 3rem 0 3rem;
  background-color: var(--color-secondary);
  border-top: 5px solid var(--color-highlight);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.navbar li:focus-within .submenu {
  top: 170%;
  opacity: 1;
}

.submenu li {
  display: block;
  padding: 0.2rem 0;
  margin: 0;
}

.hamburgerBtn {
  font-size: 2rem;
}
