.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  position: relative;
  margin: 0 0.7rem;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.navbar li.hidden {
  opacity: 0;
  pointer-events: none;
}

.submenu:not(.mobile) {
  position: absolute;
  right: 0;
  top: 100%;
  padding-top: 1rem;
  transition: all 0.2s ease;
  transform: translateY(-1rem);
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  width: max-content;
}

.navbar li:hover .submenu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.submenu:not(.mobile) ul {
  padding: 0.5rem 2rem;
  background-color: var(--color-secondary);
  border-top: 5px solid var(--color-highlight);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.submenu li {
  display: block;
  padding: 0.2rem 0;
  margin: 0;
}

.hamburgerBtn {
  font-size: 2rem;
}

.navbar a {
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.1s linear;
}

.navbar > li > span:hover {
  cursor: pointer;
}

.navbar a:hover {
  color: var(--color-less-highlight);
}

.navmobile {
  background-color: var(--color-secondary);
  font-size: 1.5rem;
  color: var(--color-text);
}

.closeButton {
  font-size: 2rem;
}

.closeButton:hover {
  cursor: pointer;
}

.navbar.mobile li {
  display: block;
  border-bottom: 1px solid var(--color-primary);
  padding: 0.3rem 0;
  margin-top: 0.3rem;
}

.navbar.mobile li span {
  transition: color 0.1s ease;
}

.navbar.mobile li span:hover {
  color: var(--color-less-highlight);
}

.navbar.mobile li:last-child {
  border-bottom: none;
}
