.difficulties {
  column-gap: 0.7rem;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.profilePfp {
  width: 6rem;
  height: 6rem;
  border: 2px solid white;
  border-radius: 0.7rem;
}

.rolesContainer {
  display: flex;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
}

.title {
  margin-bottom: 1rem;
}

.rolesContainer > div {
  padding: 0.1rem 0.5rem;
  border-radius: 0.3rem;
  border-style: solid;
  border-width: 2px;
}

.profileContainer {
  padding: 5px;
}

.profileBannerContainer {
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
}

.medals_container {
  display: flex;
  justify-content: center;
  row-gap: 0.75rem;
  column-gap: 0.75rem;
  padding-top: 0.5rem;
}

.rainbow {
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red,
    red
  );
  background-size: 1000% 100%;
  animation: create-rainbow-gradient-shift 16s linear infinite;
}

.rainbow a {
  text-decoration: none;
}

.rainbow a:not(:hover) {
  color: white;
}

@keyframes create-rainbow-gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}
