.zoomedImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.zoomedImageContainer {
  position: absolute;
  width: 80vw;
  height: 90vh;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  padding: 1rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.switch_image {
  background-color: var(--color-secondary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  width: 1.5em;
  height: 1.5em;
  border-radius: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease;
}

.switch_image.in_modal {
  font-size: 2.5rem;
}

.switch_image:hover {
  background-color: var(--color-highlight);
  cursor: pointer;
}

.switch_image.right {
  right: 0.2em;
}

.switch_image.left {
  left: 0.2em;
}

/* .switch_image.in_modal.right {
  right: 0.1em;
}

.switch_image.in_modal.left {
  left: 0.1em;
} */

/* <=sm */
@media only screen and (max-width: 767.98px) {
  .zoomedImageContainer {
    width: 80vh;
    height: 80vw;
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
