.dragfiles {
  padding: 0.5rem;
  border-style: dashed;
  border-width: 5px;
  border-color: var(--color-primary);
  border-radius: 1rem;
  transition: border-color 0.2s linear;
  position: relative;
}

.dragfiles .dragdetector {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.dragfiles:hover,
.dragfiles.dragging {
  cursor: pointer;
  border-color: var(--color-less-highlight);
}

.dragfiles > div > i.dragfile-icon {
  color: var(--color-primary);
  transition: color 0.2s linear;
  font-size: 4rem;
}

.dragfiles:hover > div > i.dragfile-icon,
.dragfiles.dragging > div > i.dragfile-icon {
  color: var(--color-less-highlight);
}

.dragfiles.disabled {
  filter: brightness(80%);
  background-color: rgba(0, 0, 0, 0.2);
}

.dragfiles.disabled:hover {
  cursor: default;
  border-color: var(--color-primary);
}

.dragfiles.disabled:hover > div > i.dragfile-icon {
  color: var(--color-primary);
}

.dragfiles .dragfiles-validity {
  position: absolute;
  bottom: 0;
  right: 0.5rem;

  font-size: 1.5rem;
}

.dragfiles .dragfiles-validity .valid {
  color: green;
}

.dragfiles .dragfiles-validity .invalid {
  color: red;
}
